body{
	background-color:#eee;
}

h1{
	text-align:center;
}

.container{
	max-width:960px;  
	margin:60px auto; 
	position:relative;
	text-align:center;
}

.container img{
	position:relative;
	width: 200px;
	height: auto;
	padding:10px 10px 15px; 
	background:white; 
	border:1px solid #ddd; 
	box-shadow:2px 2px 3px rgba(50, 50, 50, 0.4);
	-webkit-transition:all 0.5s ease-in;
	-moz-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in; 
	z-index:1;
}

.container img:hover{
	box-shadow:15px 15px 20px rgba(50, 50, 50, 0.4); 
	-webkit-transform:rotate(0deg) scale(1.50); 
	-moz-transform:rotate(0deg) scale(1.50); 
	transform:rotate(0deg) scale(1.50); 
	z-index:2;
}

.pic1{
	-webkit-transform: rotate(25deg); 
	-moz-transform: rotate(25deg); 
	transform: rotate(25deg); 
}

.pic2{
	-webkit-transform: rotate(-20deg); 
	-moz-transform: rotate(-20deg); 
	transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
}

.pic3
{
	-webkit-transform: rotate(10deg); 
	-moz-transform: rotate(10deg); 
	transform: rotate(10deg);
}
	
.pic4
{
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
}

.pic5
{
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
}

.pic6
{
	-webkit-transform: rotate(15deg); 
	-moz-transform: rotate(15deg); 
	transform: rotate(10deg);
}

.pic7
{
	-webkit-transform: rotate(20deg); 
	-moz-transform: rotate(20deg); 
	transform: rotate(20deg);
}

.pic8
{
	-webkit-transform: rotate(5deg); 
	-moz-transform: rotate(5deg); 
	transform: rotate(5deg);
}

.pic9
{
	-webkit-transform: rotate(15deg); 
	-moz-transform: rotate(15deg); 
	transform: rotate(15deg);
}

.pic10
{
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
}

.pic11
{
	-webkit-transform: rotate(-20deg); 
	-moz-transform: rotate(-20deg); 
	transform: rotate(-20deg); 
}

.pic12
{
	-webkit-transform: rotate(25deg); 
	-moz-transform: rotate(25deg); 
	transform: rotate(25deg); 
}